.header {
	display: flex;
	justify-content: space-between;
    align-items: center;
	border-bottom: 1px solid #e2dbdb;
	padding: 0 15px;
	/* position: fixed; */
	/* top: 0; */
	/* width: 100%; */
}

.header_left {
	display: flex;
	align-items: center;
}

.header_right {
	position: relative;
}

.header-menu {
    display: none;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
}