.header{
	height: 2vh;
}
.header_top {
	display: flex;
	justify-content: space-between;
    align-items: center;
	border-bottom: 1px solid #e2dbdb;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	width: calc(100vw - 2rem);
	height: 10vh;
	/* position: relative; */
}

.header_left {
	display: flex;
	align-items: center;
}

.header-menu {
	margin-top: 10vh;
    display: flex;
    flex-direction: column;
	text-align: center;
    /* justify-content: center; */
	background-color: rgb(227, 186, 186);
    position: absolute;
    top: 0;
    right: 0;
	border-bottom: 1px solid black;
	height: calc(100% - 10vh);
	width: 50%;
	z-index: 3;
	transition: all 0.8s;
	padding-left: 30px;
}
.header-menu ul {
	padding: 0;
}
.header-menu li{
	padding: 10px;
	list-style-type: none;
	text-align: left;
}
.header-menu li:hover{
	background-color:  rgb(252, 229, 229);;
}
.header-menu li a{
	text-decoration: none;
	color: black;
}
.hidden {
	display: none;
}