.header {
	display: flex;
	justify-content: space-between;
    align-items: center;
	border-bottom: 1px solid #e2dbdb;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	width: calc(100vw - 2rem);
	height: 8vh;
	/* position: relative; */
}

.header_left {
	display: flex;
	align-items: center;
}

.header-menu {
	margin-top: 10vh;
    display: flex;
    flex-direction: column;
	text-align: center;
    /* justify-content: center; */
	min-width: 100vw;

    position: absolute;
    top: 0;
    right: 0;
}
.header-menu ul {
	padding: 0;
}
.header-menu li{
	list-style: none;
}
.hidden {
	display: none;
}